<section class="about-me">
    <h2 class="head-about"> Welcome to my Portfolio </h2>  
        <div class="paragraph">
            <p> I am Mohammed Maher, a passionate and dedicated professional .NET Web Developer with a strong foundation in backend development.I specialize in creating scalable, efficient, and user-friendly web applications.My expertise spans a wide range of technologies, including C#, ASP.NET Core, SQL Server, Entity Framework,and RESTful APIs. With a solid academic background in Computer and Control Engineering from Tanta University,I bring both technical knowledge and problem-solving skills to the table. </p>
   
            <p> I am proficient in front-end technologies like HTML, CSS, JavaScript, and Bootstrap, allowing me to deliver seamless full-stack solutions. My experience working on various projects has honed my ability to collaborate effectively within teams, work under pressure, and continuously improve my skills.</P>
    
            <p> I thrive on tackling complex challenges, and I’m always eager to explore new technologies and methodologies to enhance my development process. Whether building applications from the ground up or optimizing existing solutions, I am committed to delivering high-quality, performance-driven results.</p>

            <p>I'm always open for meaningful conversations and ready to provide solutions with confidence and care.Let’s work together and make things happen effortlessly."</p>
     
        </div>
</section>