<section class="skills">
    <h1 class="skill-title">My Skills</h1>
        <div class="t-s-skill">
            <div class="technical-skill">
                <h2 class="tech-title">Technical Skills</h2>
                    <div class="list-tech">
                        <p>C#</p>
                        <p>SQL</p>
                        <p>LINQ</p>
                        <p>MVC</p>
                        <p>API</p>
                        <p>Asp.Net</p>
                        <p>DATABASE</p>
                        <p>HTML</p>
                        <p>CSS</p>
                        <p>JS</p>
                        <p>BOOTSTRAP</p>
                        <p>Data Structures & Algorithms</p>
                        <p>OOP</p>
                        <p>Git & Github</p>
                    </div>
            </div>
            <div class="soft-skill">
                <h2 class="soft-title">Soft Skills</h2>
                    <div class="list-soft">
                        <p>Teamwork</p>
                        <p>Leadership</p>
                        <p>Adabtability</p>
                        <p>Fast Learner</p>
                        <p>Problem Solving</p>
                        <p>Presentation Skills</p>
                        <p>Work under Pressure</p>
                        <p>Communication</p>
                    </div>
            </div>
        </div>


        </div>


</section>